
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-box{
    width: 100%;
    border-bottom: 0.15rem solid rgb(214, 210, 210);
    box-sizing: border-box;
}
.main-box .m-img1{
    width: 100%;
    height: 4.5rem;
}
.main-box .m-img2{
    width: 0.4rem;
    height: 0.4rem;
    padding: 0.1rem;
}
.main-box .m-p1{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    /* background-color: pink; */
    font-size: 0.37rem;
    padding-left: 0.4rem;
    padding-top: 0.2rem;
    box-sizing: border-box;
}
.main-box .m-p1 i{
   float: right;
   margin-right:6%;
   font-size: 0.28rem;
   color: rgb(255, 155, 170);
   line-height: 1;
   width: 0.6rem;
}

.main-box .m-p2{
    font-size: 0.35rem;
    color: rgb(255, 155, 170);
    padding: 0.1rem 0.3rem;
}
.main-box .m-p2 span{
    margin-right: 0.5rem;
}
.main-box .m-p2 i{
    display: inline-block;
    border: 1px solid orange;
    color: orange;
    padding: 0.12rem;
    margin:0 0.1rem;
}
.main-box .m-p3{
   padding-left: 0.4rem;
   text-decoration: line-through;
   color: gray;
   margin-bottom: 0.5rem;
}

.main-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 1.2rem;
    border-top: 0.01rem solid rgb(182, 180, 180);
    border-bottom: 0.01rem solid rgb(182, 180, 180);
    background-color: #fff;
}
.main-footer button{
    float: right;
    width: 35%;
    height: 100%;
    line-height: 1.2rem;
    color: white;
    background-color:orange;
    border: 0;
    font-size: 0.37rem;
    box-sizing: border-box;
}
.main-info{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    /* display: none; */
}
.main-info .info-bottom{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
}
.main-info .info-bottom .in1{
    width: 100%;
    height: 35%;
    font-size: 0.4rem;
    box-sizing: border-box;
}
.main-info .info-bottom .in1 img{
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    width: 30%;
    height: 100%;
    margin-right: 0.4rem;
    box-sizing: border-box;
}
.main-info .info-bottom .in2 p{
    font-size: 0.45rem;
    margin: 0.3rem;
}
.main-info .info-bottom .in2 span{
    display: inline-block;
    border: 1px solid gray;
    padding: 0.1rem 0.3rem;
    margin: 0.2rem;
    font-size: 0.34rem;
}

.main-info .info-bottom .in3 button{
    display: block;
    margin:0 auto;
    background-color:orange;
    border: 0 ;
    color: #fff;
    padding: 0.4rem 0.6rem;
    margin-top: 0.05rem;
}
.main-info .main-cancel{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    font-size: 0.4rem;
    border: 0;
    color: rgb(243, 208, 10);
}
